[run]
# measure branch coverage
branch = True
# omit uninteresting files
omit =
    mysite/*
    qa_rpg/__init__.py
    qa_rpg/admin.py
    qa_rpg/test_views.py
    qa_rpg/test_models.py
    Dungeon/*
    qa_rpg/urls.py
    qa_rpg/dialogue.py
    qa_rpg/template_question.py
    qa_rpg/items_catalog.py
    qa_rpg/apps.py
    manage.py
    qa_rpg/migrations/*
    qa_rpg/pull_questions.py
