<!doctype html>
{% load static %}
{% load tailwind_tags %}
<head>
{% tailwind_css %}
</head>

<body class="font-serif text-white bg-cover "
  style="background-image: url('https://assets.dicebreaker.com/dungeons-and-dragons-players-handbook-art-8png.jpg/BROK/resize/1920x1920%3E/format/jpg/quality/80/dungeons-and-dragons-players-handbook-art-8png.jpg;">

<div class="flex">
  <div class="m-8 p-4">
    <div class="h-20 w-[17rem] box-border bg-black bg-opacity-50 border-gray-600  border-2">
      <div class="text-pink-50 text-3xl pl-2 pt-1">
        HP: {{ player.current_hp }} / {{ player.max_hp }}<br>
          <a> Current coins: {{ player.dungeon_currency }} </a>
      </div>
    </div>
    <div class="h-15 w-[17rem] box-border bg-black bg-opacity-50 border-gray-600  border-2">
        <div class="text-white text-3xl pl-2 pt-1">
            {% if status %}
                {{ status }}
            {% else %}
                No item applied.
            {% endif%}
        </div>
    </div>
  </div>

  <div class="text-white text-3xl pl-2 pt-1 m-8 bg-black bg-opacity-50 border-gray-600 border-2">
    <form method="post" action="{% url 'qa_rpg:item' %}">
        {% csrf_token %}

        <label for="item" class="p-2">Select an item to use:</label>
            <div class="text-black text-3xl pl-2 pt-1">
            <select name="item" id="item" aria-readonly="true" required>
                <option value="">--Choose an item--</option>
                {% for key, value in items.items %}
                    <option value="{{ value.0 }}" title="{{ value.2 }}&#13;{{ value.3 }}">{{ key }}: {{ value.1 }}</option>
                {% endfor %}
            </select>
            </div>
        <div class="py-2 px-2">
            {% if status %}
                <button type="submit" class="bg-red bg-opacity-50 border-gray-600 border-2 pl-2 pt-1 pb-1 pr-2" disabled>Use item</button>
            {% else %}
                <button type="submit" class="bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-green-700 duration-300 pl-2 pt-1 pb-1 pr-2">Use item</button>
            {% endif %}
        </div>
    </form>
  </div>
</div>

<form action="{% url 'qa_rpg:check' question.id %}" method="post">
{% csrf_token %}

    <div class="flex justify-center items-center py-4">
        <div class="bg-black bg-opacity-50 border-gray-600 border-2 w-3/4 h-28 justify-center items-center">
            <h1 class="p-2 text-3xl ">{{ question.question_text }}</h1>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <div class="flex item-center grid justify-center">
        <p class="text-red-700 text-3xl bg-black bg-opacity-80 border-gray-600 border-2 p-4"><strong>{{ message }}</strong></p>
    </div>
        {% endfor %}
    {% endif %}

<div class="flex">
    <div class="flex item-center grid justify-left py-4 w-[45rem] h-64 ml-48">
    {% for choice in question.choice_set.all %}
        <div class="my-2">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="peer checked:bg-opacity-80">
            <label class="text-2xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-opacity-80 pl-2 pt-1 pb-1 pr-2 peer-checked:bg-opacity-80" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        </div>
    {% endfor %}
    </div>


    <div class="flex justify-center item-center gap-4 ml-20 mt-20">
        <p>
            <button type="submit" class="text-5xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-green-700 duration-300 pl-2 pt-1 pb-1 pr-2">Fight</button>
        </p>

        <div>
            <p>
                <button type="submit" class="text-5xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-red-500 duration-300 pl-2 pt-1 pb-1 pr-2" formaction="{% url 'qa_rpg:run_away' question.id %}">Run Away</button>
            </p>
        </div>
    </div>
</div>
    <div class="absolute top-0 right-0 my-10 mx-10 py-2 text-2xl" >
        <input type="hidden" name="option" id="not select" value="not select">
        <div class="py-2">
            <input type="radio" name="option" id="report" value="report" >
            <label for="report" class="bg-black bg-opacity-50 border-gray-600 border-2 hover:text-red-500 pl-2 pt-1 pb-1 pr-2">Report</label><br>
        </div>

        <div class="py-2">
            <input type="radio" name="option" id="commend" value="commend" class="">
            <label for="commend" class="bg-black bg-opacity-50 border-gray-600 border-2 hover:text-green-500 pl-2 pt-1 pb-1 pr-2">Commend</label><br>
        </div>
    </div>
</form>

</body>