<a>HP: {{ player.current_hp }}/{{ player.max_hp }}<br></a>
<a>Current coins: {{ player.dungeon_currency }}<br></a>

<fieldset>
{% for log in logs%}
    <a>{{ log }}<br></a>
{% endfor %}
</fieldset>


<form action="{% url 'qa_rpg:action' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="walk"/>
  <p>
  <button type="submit">walk</button>
  </p>
</form>
<form action="{% url 'qa_rpg:action' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="exit"/>
  <p>
  <button type="submit">exit</button>
  </p>
</form>