<!doctype html>
{% load static %}
{% load tailwind_tags %}
<head>
{% tailwind_css %}
</head>
<title> Hub </title>

<body class="text-white font-serif bg-no-repeat bg-cover  "
  style="background-image: url('https://d.wattpad.com/story_parts/632993320/images/1555c78f7608fede446379137457.jpg');">
  <div class="m-8 p-4">
    <div class="h-25 w-[17rem] box-border bg-black bg-opacity-50 border-gray-600  border-2">
      <div class="text-pink-50 text-3xl pl-2 pt-1">
        <a> Coins: {{ player.currency }} </a> </br>
      </div>
    </div>
  </div>
  {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div class="ml-8 my-7 p-4">
                <div>
                    <div>
                    {% if message.level == 40 %}
                        <p class="text-red-600 text-center text-2xl bg-black bg-opacity-50 border-gray-600 border-2 pl-2 pt-1 pb-1 pr-2"><strong>{{ message }}</strong></p>
                    {% else %}
                        <p class="text-green-600 text-center text-2xl bg-black bg-opacity-50 border-gray-600 border-2 pl-2 pt-1 pb-1 pr-2"><strong>{{ message }}</strong></p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
  {% endif %}

  <div class="ml-8 my-7 p-4">
      <div class="h-25 w-60 box-border bg-black bg-opacity-50 border-gray-600  border-2">
          <div class="text-pink-50 text-3xl ">
                <a href="{% url 'qa_rpg:select_dg' %}"><button class=" h-25 w-60 bg-Neutral-900 hover:bg-red-900 duration-300" type="button">dungeon</button></a>
          </div>
      </div>
  </div>
  <div class="ml-8 my-7 p-4">
      <div class="h-25 w-60 box-border bg-black bg-opacity-50 border-gray-600  border-2">
          <div class="text-pink-50 text-3xl ">
                <a href="{% url 'qa_rpg:shop' %}"><button class=" h-25 w-60 bg-Neutral-900 hover:bg-red-900 duration-300" type="button">shop</button></a>
          </div>
      </div>
  </div>
<div class="ml-8 my-7 p-4">
      <div class="h-25 w-60 box-border bg-black bg-opacity-50 border-gray-600  border-2">
          <div class="text-pink-50 text-3xl ">
              <a href="{% url 'qa_rpg:template' %}"><button class=" h-25 w-60 bg-Neutral-900 hover:bg-red-900 duration-300" type="button">summon</button></a>
          </div>
      </div>
  </div>

<div class="ml-8 my-7 p-4">
      <div class="h-25 w-60 box-border bg-black bg-opacity-50 border-gray-600  border-2">
          <div class="text-pink-50 text-3xl ">
              <a href="{% url 'qa_rpg:profile' %}"><button class=" h-25 w-60 bg-Neutral-900 hover:bg-red-900 duration-300" type="button">profile</button></a>
          </div>
      </div>
  </div>
  <div class="ml-8 my-7 p-4">
      <div class="h-25 w-60 box-border bg-black bg-opacity-50 border-gray-600  border-2">
          <div class="text-pink-50 text-3xl ">
              <a href="https://github.com/QA-RPG/QA-RPG/wiki/How-to-play" target="_blank"><button class=" h-25 w-60 bg-Neutral-900 hover:bg-red-900 duration-300" type="button">How to play</button></a>
          </div>
      </div>
  </div>

<div class="absolute top-0 right-0 my-10 mx-10 py-2 text-2xl" >
        <div class="h-25 w-60 box-border bg-black bg-opacity-50 border-gray-600  border-2">
          <div class="text-pink-50 text-3xl ">
            <a href="{% url 'logout'%}"><button class="h-25 w-60 bg-Neutral-900 hover:bg-red-900 duration-300" type="button">Log out</button></a>
        </div>
      </div>
</div>

</body>