<h2 xmlns="http://www.w3.org/1999/html">{{ player.player_name }}</h2>
Max HP: {{ player.max_hp }}<br>
Coin: {{player.currency}}

{% if questions %}
    <ul>
    {% for question in questions %}
        <li>{{ question.question_text }} {{question.currency}}/{{question.max_currency}}
            <form action="{% url 'qa_rpg:claim' question.id %}" method="post">
            {% csrf_token %}
                <button type="submit">Claim</button>
                <br></li>
            </form>
    {% endfor %}
    </ul>

{% else %}
    <p>No Question.</p>
{% endif %}

<a href="{% url 'qa_rpg:index' %}"><button type="button">Back</button></a>


