<!doctype html>
{% load static %}
{% load tailwind_tags %}
<head xmlns="http://www.w3.org/1999/html">
    {% tailwind_css %}
</head>
<title> Select Items </title>

<body class="text-white font-serif bg-no-repeat bg-top bg-cover"
  style="background-image: url('https://d.wattpad.com/story_parts/632993320/images/1555c78f7608fede446379137457.jpg');">


{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <div class="mb-2 px-2">
            <div>
                <p class="text-red-600 text-center text-2xl bg-black bg-opacity-50 border-gray-600 border-2 pl-2 pt-1 pb-1 pr-2"><strong>{{ message }}</strong></p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}


    <form action="{% url 'qa_rpg:select_items' %}" method="post">
        {% csrf_token %}


<div class="flex px-4 mx-8 flex-row justify-center items-center mt-8">

    <div class="h-96 w-[48rem] box-border bg-black bg-opacity-50 border-gray-600  border-2 text-2xl">
        <label class="bg-white bg-opacity-50 border-gray-600 border-2 pl-2 pb-1 pr-2 text-3xl ">Your inventory</label>
        <div class="h-80 mt-2 overflow-auto">
        {% for item in inventory %}
            <div class="py-2 px-2 flex items-center sticky">
                <input type="radio" id="{{ item.0 }}1" name="select" value="{{ item.0 }}1" class="hidden peer checked:bg-sky-700 checked:focus:ring-sky-700 checked:focus:bg-sky-700"  required>
                <label class=" text-3xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-opacity-80 pl-2 pt-1 pb-1 pr-2 peer-checked:bg-sky-700 " title="{{ item.3 }}&#13;{{ item.4 }}" for="{{ item.0 }}1"> {{ item.1 }} <br> Amount: {{item.2}}</label><br>
            </div>
        {% endfor %}
        </div>
    </div>
        <div class=" h-96 w-[48rem] box-border bg-black bg-opacity-50 border-gray-600  border-2 text-2xl">
            <label class="bg-white bg-opacity-50 border-gray-600 border-2 pl-2 pb-1 pr-2 text-3xl ">Dungeon inventory</label>
            <label class="bg-white bg-opacity-50 border-gray-600 border-2 pl-2 pb-1 pr-2 text-3xl ">{{dungeon_inventory_num.0}}/{{dungeon_inventory_num.1}}</label>
            <div class="h-80 mt-2 overflow-auto">
            {% for item in dungeon_inventory %}
                <div class="py-2 px-2 flex items-center sticky">
                    <input type="radio" id="{{ item.0 }}2" name="select" value="{{ item.0 }}2" class="hidden peer checked:bg-sky-700 checked:focus:ring-sky-700 checked:focus:bg-sky-700" required>
                    <label class=" text-3xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-opacity-80 pl-2 pt-1 pb-1 pr-2 peer-checked:bg-sky-700" title="{{ item.3 }}&#13;{{ item.4 }}" for="{{ item.0 }}2">{{ item.1 }} <br> Amount: {{item.2}}</label><br>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <div class="flex justify-center items-center text-3xl pl-2 pt-1 pb-1 pr-2 mt-5">
            <div class="bg-black bg-opacity-50 border-gray-600 border-2 duration-300 pl-2 pt-1 pb-2 pr-2">
            Amount: <input type="number" name="amount" min="1" value="1" required class="text-black text-2xl">
            <button type="submit" class="text-3xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-yellow-600 duration-300 px-5 py-2">Select</button>
            </div>
        </div>
    </div>

</form>
    <div class="flex justify-center items-center">
        <div class="py-4">
        <a href="{% url 'qa_rpg:dungeon' %}"><button type="button" class="text-3xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-green-700 duration-300 px-5 py-2">Dungeon</button></a>
        <a href="{% url 'qa_rpg:index' %}"><button type="button" class="text-3xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-red-500 duration-300 px-5 py-2">Back</button></a>
        </div>
    </div>

<div>
    <div class="flex justify-center items-center ">
        <a href="{% url 'qa_rpg:upgrade' %}"><button type="button" class="text-3xl bg-black bg-opacity-50 border-gray-600 border-2 hover:bg-blue-700 duration-300 px-5">Tip: You can upgrade your max dungeon inventory by awaken </button></a><br>
    </div>

</body>